*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'sans-serif';
}

body{
    background: url(https://images.unsplash.com/photo-1522252234503-e356532cafd5?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMTgwOTN8MHwxfHNlYXJjaHw3fHxjb2RlfGVufDB8fHx8MTY2ODM4MDkzMg&ixlib=rb-4.0.3&q=80&w=1080) center center/cover no-repeat ;
    height: 110vh;

} 

#card{
    background-color: #212529;
    width: 45%;
    height: auto;
    color: #fff;

}

#btn{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: auto;
}

#input{
    width: 50%;
    margin: auto;
}
#p{color: grey;}

#qr-div{
    background-color: #212529;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

#qr-image{ 
    display: flex;
    align-self: center;
    width: 50%;
    margin: auto;
    height: auto;
    border: 1px green solid;
    padding: 1rem;
    display: none;
    transition: ease-in 0.3;
}

.fa-spinner{
    margin-left: 45%;
    display: inline-block;
    display: none; 
}

#error-msg{
    display: none;
    font-size: 0.625rem;
    color: red;
}